.header {
    padding: 24px 0 77px;
    background: var(--white, #ffffff);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 1.28;
    font-size: 50px;
    font-weight: 500;
} 

.header__title {
    font-weight: 500;
    font-size: 50px;
    color: var(--black, #212429);
    margin: 32px 0 0 0;
}

.header__logo {
    margin-left: 5px;
    stroke: var(--grey-4);
    fill: var(--dark-bg);
}

.header__menu-opener {
    display: none;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header .toggler__icon_sun,
.header .toggler__icon_moon {
    fill: var(--grey-3);

}

@media screen and (max-width: 480px) {
.header {
    padding: 16px 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.36;
    color: var(--grey-4, #495057);
    padding-right: 50px;
}


.header__logo {
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}

.header__menu-opener {
    background: transparent;
    border: none;
    display: block;
    padding: 0;
}

.header__icon-opener {
    position: absolute;
    left: 19px;
    top: 22px;
}

.header .toggler__state {
    display: none;
}
}