.header {
    padding: 24px 0 77px;
    background: var(--white, #ffffff);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 1.28;
    font-size: 50px;
    font-weight: 500;
} 

.header__title {
    font-weight: 500;
    font-size: 50px;
    color: var(--black, #212429);
    margin: 0;
}

.header__logo {
    margin-left: 5px;
    margin-bottom: 32px;
}

@media screen and (max-width: 480px) {
.header {
    padding: 16px 16px 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.36;
    color: var(--grey-4, #495057);
    
}


.header__logo {
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}
}