.header {
    padding: 96px 0 77px;
    background: var(--white, #ffffff);
}

svg {
    padding-bottom: 40px;
    margin-top: -30px;
    /* border: 1px solid black; */
    
}


.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black, #212429);
    margin: 0;

}