.tabs__input_tab-2:checked ~ .preview .tabs__content_tab-2 {
    display: block;
}

.tabs__input_tab-3:checked ~ .preview .tabs__content_tab-3 {
    display: block;
}

.tabs__input_tab-4:checked ~ .preview .tabs__content_tab-4 {
    display: block;
}

.tabs__input_tab-2:checked ~ .preview .tabs__content_tab-1,
.tabs__input_tab-3:checked ~ .preview .tabs__content_tab-1,
.tabs__input_tab-4:checked ~ .preview .tabs__content_tab-1 {
    display: none;
}

.tabs__content_tab-2,
.tabs__content_tab-3,
.tabs__content_tab-4 {
    display: none;
}

.tabs__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    outline: transparent;

}

.tabs__scroller {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    gap: 40px;
    color: var(--grey-3);
    box-sizing: border-box;
    width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    background: var(--white);
}

.tabs__label:hover {
    color: var(--black);
    cursor: pointer;
}

.tabs__label {
    white-space: nowrap;
    position: relative;
    color: var(--grey-3);
}

.tabs__label::after {
    transform: scaleX(0);
    transition: transform 250ms linear;
    content: "";
    display: block;
    width: 100%;
    background-color: var(--black, #212429);
    height: 5px;
    position: relative;
    margin-top: 8px;
}

.tabs__label:hover::after {
    transform: scaleX(1);
}

.tabs__scroller::-webkit-scrollbar {
    display: none;
}

.tabs__input_tab-1:checked ~ .container .tabs__label_tab-1, 
.tabs__input_tab-2:checked ~ .container .tabs__label_tab-2, 
.tabs__input_tab-3:checked ~ .container .tabs__label_tab-3, 
.tabs__input_tab-4:checked ~ .container .tabs__label_tab-4 {
    color: var(--black);
}

.tabs__input_tab-1:checked ~ .container .tabs__label_tab-1::after, 
.tabs__input_tab-2:checked ~ .container .tabs__label_tab-2::after, 
.tabs__input_tab-3:checked ~ .container .tabs__label_tab-3::after, 
.tabs__input_tab-4:checked ~ .container .tabs__label_tab-4::after {
    transform: scaleX(1);
}

.tabs__input_tab-1:focus ~ .container .tabs__label_tab-1, 
.tabs__input_tab-2:focus ~ .container .tabs__label_tab-2, 
.tabs__input_tab-3:focus ~ .container .tabs__label_tab-3, 
.tabs__input_tab-4:focus ~ .container .tabs__label_tab-4 {
    text-decoration: underline;
}

.tabs .content__code {
    overflow-x: auto;
}

.tabs {
    position: relative;
    background: var(--white);
}

.tabs__input_tab-1:checked ~ .tabs__content_tab-2,
.tabs__input_tab-1:checked ~ .tabs__content_tab-3 {
    display: none;
}

.tabs__input_tab-2:checked ~ .tabs__content_tab-1,
.tabs__input_tab-2:checked ~ .tabs__content_tab-3 {
    display: none;
}

.tabs__input_tab-2:checked ~ .tabs__content_tab-2,
.tabs__input_tab-3:checked ~ .tabs__content_tab-3 {
    display: block;
}

.tabs__input_tab-3:checked ~ .tabs__content_tab-1,
.tabs__input_tab-3:checked ~ .tabs__content_tab-2 {
    display: none;
}

@media screen and (max-width: 480px) {
    .tabs__content {
    padding: 23px 16px;
}
}