.burger-menu {
    top: 0;
    left: 0;
    position: fixed;
    transform: translateX(-100%);
    transition: transform 200ms linear;
    background: var(--white-preview, #F9FAFC);
    width: 100vw;
    height: 100vh;
}

.burger-menu[data-open] {
    transform: translateX(0);
    z-index: 99;
}

.burger-menu__opener, .burger-menu__closer, .burger-menu {
    display: none;
}

.burger-menu__divider {
    height: 1px;
    width: 100%;
    background-color: var(--grey-2);
}

@media screen and (max-width: 480px) {

.burger-menu {
    display: block;
}

.burger-menu__opener, .burger-menu__closer {
    background: transparent;
    border: none;
    display: block;
    padding: 0;
}

.burger-menu__icon-opener, .burger-menu__icon-closer {
    position: absolute;
    left: 19px;
    top: 22px;
}

.burger-menu__header {
    padding: 16px 0;
    margin-left: 0;
}

.burger-menu__logo {
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}


}