.card {
    background: var(--white, #FFFFFF);
    box-shadow: 0px 2px 4px var(--shadow-color,rgba(33, 36, 41, 0.05));
    border-radius: 12px;
    font-size: 16px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--black, #212429);
    text-decoration: none;
}

.card__footer {
    margin-top: 25px;
    text-align: center;
}

.card__title {
    margin: 0 auto;
    font-size: 21px;
}

.card__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray-4, #212429);
    margin: 6px 0 0 0;
}

.card__content {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card .tooltip__helper {
    display: block;
}

.card .tooltip {
    position: relative;
    transform: translateY(100%);
}

.card .avatar {
    width: 204px;
    height: 204px;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__content .modal__inner {
    position: static;
    transform: translate(0, 0);
    padding: 15px 20px 16px;
    border: 1px solid var(--grey-3, #ACB5BD);
}

.card__content .modal__title {
    font-size: 18px;
    line-height: 20px;
}

.card__content .modal__text {
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width: 480px) {


.card__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.card__subtitle {
    display: none;
}


.card__footer {
    width: 100%;
}

}

