.card {
    background: var(--white, #FFFFFF);
    box-shadow: 0px 2px 4px var(--shadow-color,rgba(33, 36, 41, 0.05));
    border-radius: 12px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--black, #212429);
}


.card__footer {
    margin-top: 25px;
    text-align: center;
}

.card__title {
    margin: 0 auto;
    font-size: 21px;
}

.card__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray-4, #212429);
    margin: 6px 0 0 0;
}

.card__content {
    width: 100%;
}

@media screen and (max-width: 480px) {


.card__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.card__subtitle {
    display: none;
}


.card__footer {
    border-top: 1px solid var(--grey-3, #ACB5BD);
    width: 100%;
}

}

