.header_theme-grey {
    padding-bottom: 0;
    background: var(--white-preview, #F9FAFC);
}

.header_theme-grey .header__logo {
    margin-bottom: 32px;
    fill: #212429;
    stroke: #212429;
}

@media screen and (max-width: 480px) {
    
    .header_theme-grey {
        padding: 0;
        margin: 0;
        width: 100vw;
        line-height: 0;
    }

    .header_theme-grey .header__logo {
        margin: 16px 0;
}
}