.header_theme-grey {
    padding-bottom: 0;
    background: var(--white-preview, #F9FAFC);
}

.header_theme-grey .header__logo {
    margin-bottom: 32px;
}

@media screen and (max-width: 480px) {
    .header_theme-grey {
        padding: 0;
        width: 100vw;
    }

    .header_theme-grey .header__logo {
        padding: 0;
        margin: 0;
    }
}