.modal {
    padding: 40px 40px 47px;
    background: var(--modal-background, rgba(196, 196, 196, 0.5));
    height: 100vh;
    width: 100vw;
    font-family: 'Inter';
    font-style: normal;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
   
}

.modal__inner {
    padding: 30px 40px 33px;
    background: var(--white,#FFFFFF);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90vw;
}

.modal__closer {
    display: inline-block;
    border: none;
    background: none;
    position: absolute;
    top: 12px;
    right: 12px;
}

.modal__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--month-year-color, #334D6E);
    margin: 0;
}

.modal__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4, #495057);
    margin: 0;
}