.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__icon {
    width: 24px;
    height: 24px;
}

.tooltip__helper {
    display: none;
    background: var(--selection-date-1, #4263EB);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    padding: 13px 21px 8px;
    box-sizing: border-box;
    position: absolute;
    white-space: nowrap;
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__helper:after {
    content: "";
    border: 16px solid transparent;
    border-top: 6px solid var(--selection-date-1, #4263EB);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    
}

.tooltip__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    color: var(--grey-2, #DDE2E5);
}

.tooltip__icon:hover + .tooltip__helper {
    display: block;
}

.tooltip__icon:hover {
    cursor: pointer;
}