.accordion__item {
  box-sizing: border-box;
  border: 1px solid var(--grey-3, #acb5bd);
  border-radius: 8px;
  background: var(--white, white);
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
  padding: 24px 32px;
  font-family: 'Inter', sans-serif;
  position: relative;

  &__closer-open {
    position: absolute;
    top: 2em;
    right: 2em;
    transform: scaleY(-1);
    display: none;
    fill: var(--black);
  }

  &__closer {
    position: absolute;
    top: 2em;
    right: 2em;
    fill: var(--black);
  }

  &__item[open] {
    padding-bottom: 32px;
  }

  &__item[open] .accordion__closer-open {
    display: block;
  }

  &__item[open] .accordion__closer {
    display: none;
  }

  &__item .accordion__closer {
    display: block;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__title {
    list-style: none;
  }

  &__text {
    color: var(--grey-4, #495057);
    margin-bottom: 0;
  }

  & {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
