.histogram {
  padding: 15px 24px 23px;
  background: var(--white, #ffffff);
  border: 1px solid var(--grey-3, #acb5bd);
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Inter';
  @include text(16px, 400, 24px, normal);
  display: flex;
  flex-direction: column;
  width: 100%;

  &__information {
    display: flex;
    margin-bottom: 39px;
    flex-wrap: wrap;
  }

  &__title {
    font-family: 'Inter';
    @include text(16px, 400, 24px, normal);
    margin: 0 0 6px 0;
    opacity: 0.8;
    flex: 1 1 auto;
    animation: column-start 200ms linear;
    color: var(--font-color);
  }

  &__link {
    text-decoration: none;
    color: var(--histogram-blue, #4263eb);
    padding-top: 3px;
    display: inline-flex;
    flex: 0 1 auto;
    animation: column-start 200ms linear forwards;
    transform: scaleY(0);
  }

  &__amount {
    font-size: 20px;
    line-height: 26px;
    @include text(20px, false, 26px, false);
    color: var(--black, #212429);
    order: 1;
    flex: 1 1 100%;
    animation: column-start 200ms linear forwards;
    animation-delay: 200ms;
    transform: scaleY(0);
  }

  &__chart {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 5px 0 2px;
    margin: 0;
    gap: 1px;
    animation: column-start 200ms linear;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    transform: scaleY(0);
  }

  &__chart-column {
    flex: 1 1 9px;
    background: var(--histogram-blue, #4263eb);
    list-style-type: none;
  }
}

@keyframes column-start {
  0% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
  25% {
    transform-origin: bottom;
    transform: scaleY(0.25);
  }
  50% {
    transform-origin: bottom;
    transform: scaleY(0.5);
  }
  75% {
    transform-origin: bottom;
    transform: scaleY(0.75);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
}
