@import '../fonts/fonts.css';
@import '../../components/page/page.css';
@import '../../components/footer/footer.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';



:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --notification: #D84910;

    --black-2: #000000;

    --modal-background: rgb(196, 196, 196, 0.5);

    --day-color: #90A0B7;
    --month-year-color: #334D6E;
    --date-color: #334D6E;
    --selection-date-1: #4263EB;
    --selection-date-2: #A0B1F5;

    --white-preview: #F9FAFC;

    --purple-hover: #5028C6;
    --blue-hover: #2342C0;
    --shadow-color: rgba(33, 36, 41, 0.05);

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

}

html, body {
    height: 100%;
}

/* * {
    font-family: 'Roboto', sans-serif;
} */
