.radio {
    display: inline-flex;
    position: relative;
    gap: 12px;
}

.radio__state {
    display: flex;
    gap: 12px;
    align-items: center;
}

.radio__icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio__control {
    width: 28px;
    height: 28px;
    background: var(--white, #FFFFFF);
    border: 1px solid var(--grey-2, #DDE2E5);
    box-sizing: border-box;
    border-radius: 14px;
    position: relative;
}

.radio__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4,#495057);
}

.radio__title_checked {
    display: none;
}

.radio__input:checked ~ .radio__state .radio__icon {
    display: block;
}

.radio__input:checked ~ .radio__state .radio__control {
    border: 2px solid var(--selection-date-1, #4263EB);
}

.radio__input:checked ~ .radio__state .radio__title {
    display: none;
}

.radio__input:checked ~ .radio__state .radio__title_checked {
    display: block;
}

.radio__input:focus ~ .radio__state .radio__title {
    text-decoration: underline;
}

.radio .radio__input:disabled ~ .radio__state .radio__control {
    background: var(--grey-2);
}

.radio__input:disabled ~ .radio__state .radio__title {
    color: var(--grey-2);
}