.skeleton {
    height: 192px;
    padding: 24px 40px 32px 24px;
    background: var(--white,#FFFFFF);
    border: 1px solid var(--grey-3, #ACB5BD);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

[class*=_box] {
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}


.skeleton__upper {
    display: flex;
    gap: 16px;
    
}

.upper_box1 {
    width: 172px;
}

.upper_box2 {
    width: 257px;
}

.wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.wrapper2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


