.skeleton {
    background: var(--white,#FFFFFF);
    border: 1px solid var(--grey-3, #ACB5BD);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px 40px 32px 24px;
}

.skeleton__box {
    height: 20px;
    width: 100%;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__container {
    display: flex;
    gap: 16px;
}

.skeleton__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.skeleton__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeleton__box_short {
    width: 33%;
}

.skeleton__box_middle {
    width: 50%;
}

