.footer {
    height: 100px;
    background: var(--white, #ffffff);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black, #212429);
}


.footer__title {
    margin: 71px 0 32px 0;
    font-size: inherit;
    font-weight: 500;
}


.footer__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 136px;
    max-width: 640px;
    margin: 0 auto;
}


@media screen and (max-width: 480px) {

.footer {
    display: none;
    }
}
