.page_inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background: var(--white-preview, #F9FAFC);
    
}

