.sidebar_mobile {
  display: block;
  padding-left: 16px;

  &_mobile &__title {
    font-family: 'Inter';
    @include text(20px, 400, 26px, normal);
    color: var(--grey-3, #acb5bd);
    margin: 0;
  }

  &_mobile &__item {
    font-family: 'Inter';
    @include text(16px, 400, 24px, normal);
  }

  &_mobile &__list {
    display: flex;
    gap: 16px;
  }
}
