.content__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 56px;
    height: 100%;
    margin-top: 16px;
    width: 100%;
}

.content {
    background: var(--white-preview, #F9FAFC);
}

.content__component-preview {
    background: var(--white, #FFFFFF);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 32px 48px;
    overflow: hidden;
}

.content__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4, #495057);
}

.content__component-preview .tabs__label {
    text-transform: uppercase;
}

.content__divider {
    height: 2px;
    width: 100vw;
    position: absolute;
    left: -48px;
    background: var(--white-preview, #F9FAFC);
}

.content__example {
    margin-bottom: 2rem;
}

.content__example_custom-form-elements .content__inner_upper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    align-content: flex-start;
    justify-items: start;    
}

.content__example_custom-form-elements .content__inner_down {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.content__example_button {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.content__example_calendar {
    display: flex;
    justify-content: center;
}

.content__example_tooltip {
    padding: 50px;
}

.content__example_modal .modal {
    z-index: 1;
}

/* .content {
    background: var(--white-preview, #F9FAFC);

} вставить в мастер-версию, чтобы убрать незакрашенные части div.content, которые появляются из-за того, 
что содержимое div.content выходит за пределы .page */

@media screen and (max-width: 480px) {
   
    .content__component-preview {
    width: 100vw;
    box-shadow: none;
    box-sizing: border-box;
    padding: 16px 24px;
    }

    .content {
    width: 100vw;
    background: var(--white, #FFFFFF);
    }

    .content__inner {
    margin: 0;
    width: 100vw;
    }

    .content__example_custom-form-elements .content__inner_upper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .content__example_custom-form-elements .content__inner_down {
        justify-content: center;
    }

    .content__divider {
        left: -24px;
    }
}