.preview {
    background: var(--white-preview, #F9FAFC);
    flex-grow: 1;
    padding: 68px 0;
    position: relative;
}

.preview__inner {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3 - 20px));
    grid-auto-rows: minmax(400px, auto);
    gap: 30px;
}

.preview__calendar {
    padding: 14px 15px 20px;
    max-width: 180px;
    gap: 16px;
}

.preview__calendar-title {
    font-size: 16px;
    line-height: 20px;
}

.preview__calendar-item {
    font-size: 14px;
    line-height: 16px;
}

.preview__calendar-item-day {
    font-size: 12px;
}

.preview__card {
    padding: 32px 25px;
    flex-basis: calc((100/3)*1% - 2*30px);
    flex-grow: 1;
    box-sizing: border-box;
}

.preview__title {
    font-size: 28px;
    color: var(--grey-3, #ACB5BD);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

.preview__inner_custom-form-elements {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    width: 80%;
}

.preview__toggler,
.preview__checkbox,
.preview__radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preview__inner_button {
    grid-template-columns: 20vw 20vw;
    grid-auto-rows: auto;
    gap: 10px;
}

.preview__inner_input {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    width: 80vw;
}

@media screen and (max-width: 480px) {

.preview {
    padding: 0;
}

.preview__inner {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 23px 16px;
    box-sizing: border-box;
}

.preview__card {
    padding: 0;
}

.preview__inner_button {
    grid-template-columns: repeat(2, calc(50% - 10px));
    gap: 10px;
    justify-content: center;
}

.preview__inner_custom-form-elements {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 10px;
}

.preview__toggler {
    display: grid;
}

.preview__checkbox {
    display: grid;
    gap: 5px;
    justify-content: flex-start;
}

.preview__radio {
    display: grid;
    gap: 5px;
}


}