.preview {
    background: var(--white-preview, #F9FAFC);
    flex-grow: 1;
    padding: 68px 0;
    position: relative;
}

.preview__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.preview__card {
    padding: 32px 25px;
    flex-basis: calc((100/3)*1% - 2*30px);
    flex-grow: 1;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {

.preview {
    padding: 0;
}


.preview__inner {
    overflow-y: auto;
    padding: 23px 16px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px 16px;
}


.preview__card {
    padding: 0;
}



}